# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environnements
.venv/
venv/

# Outils
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Éditeurs / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
